validations/src/main/app/validations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="api.nasa.gov" port="443" doc:name="HTTP Request Configuration"/>
    <flow name="variable_scopes">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10" timeUnit="SECONDS"/>
            <http:request config-ref="HTTP_Request_Configuration" path="planetary/apod" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="concept_tags" value="True"/>
                    <http:query-param paramName="api_key" value="NNKOjkoul8n1CH18TWA9gwngW1s1SmjESPjNoUFo"/>
                </http:request-builder>
            </http:request>
        </poll>
        <object-to-string-transformer doc:name="Object to String"/>
        <validation:is-url url="#[json:/url]" doc:name="/url is a url"/>
        <logger message="url ok" level="INFO" doc:name="Logger"/>
        <validation:is-not-null value="#[json:/title]" doc:name="we have a title"/>
        <logger message="title ok" level="INFO" doc:name="Logger"/>
        <validation:is-true expression="#[json:/explanation] == 'something'" doc:name="will throw ValidationException!"/>
    </flow>
</mule>
