canonical-data-model/src/main/app/canonical-data-model.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
  <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081"
    doc:name="HTTP Listener Configuration"/>
  <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082"
    doc:name="HTTP Listener Configuration"/>
  <flow name="source1">
    <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
    <object-to-string-transformer doc:name="Object to String"/>
    <expression-component doc:name="creates canonical model"><![CDATA[payload = '{ "customerId":' + xpath('data/custId').text+'}';]]></expression-component>
    <vm:outbound-endpoint exchange-pattern="one-way" path="/vm" doc:name="ToCanonicalVM"/>
  </flow>
  <flow name="source2">
    <http:listener config-ref="HTTP_Listener_Configuration1" path="/" doc:name="HTTP"/>
    <object-to-string-transformer doc:name="Object to String"/>
    <set-payload value="{'customerId':#[json:/cid]}" doc:name="Set Payload to canonical"/>
    <vm:outbound-endpoint exchange-pattern="one-way" path="/vm" doc:name="ToCanonicalVM"/>
  </flow>
  <flow name="canonical-data-model">
    <vm:inbound-endpoint exchange-pattern="one-way" path="/vm" doc:name="Canonical model VM"/>
    <scatter-gather doc:name="Scatter-Gather">
      <vm:outbound-endpoint exchange-pattern="one-way" path="/vm1" doc:name="to target app1"/>
      <vm:outbound-endpoint exchange-pattern="one-way" path="/vm2" doc:name="to target app 2"/>
    </scatter-gather>
  </flow>
  <flow name="target1">
    <vm:inbound-endpoint exchange-pattern="one-way" path="/vm1" doc:name="target app 1"/>
    <echo-component doc:name="consumes canonical model"/>
  </flow>
  <flow name="target2">
    <vm:inbound-endpoint exchange-pattern="one-way" path="/vm2" doc:name="target app 2"/>
    <echo-component doc:name="consumes canonical model"/>
  </flow>
</mule>
