foreach_with_json/src/main/app/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="api.openweathermap.org" port="80" doc:name="HTTP Request Configuration"/>
    <flow name="foreach_with_json">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10000"/>
            <http:request config-ref="HTTP_Request_Configuration" path="data/2.5/forecast/city" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="id" value="524901"/>
                    <http:query-param paramName="APPID" value="1111111111"/>
                </http:request-builder>
            </http:request>
        </poll>
        <foreach collection="#[json:list]" doc:name="For Each">
            <logger message="#[json:main/temp]" level="INFO" doc:name="Logger"/>
        </foreach>
    </flow>
</mule>
